<div class="section">
  <div class="container">
    <h1 class="title">Upcoming Calendar</h1>

    <table class="calendar table is-bordered is-fullwidth">
      <caption>March 2019</caption>

      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
        </tr>

        <tr>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td class="active-day"><a class="active-day-link" href="/day">7</a></td>
          <td>8</td>
          <td class="active-day"><a class="active-day-link" href="/day">9</a></td>
        </tr>

        <tr>
          <td class="active-day"><a class="active-day-link" href="/day">10</a></td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>

        <tr>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>

        <tr>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>

        <tr>
          <td>31</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/js/calendar.js"></script>