<section class="section">
  <div class="container">
    <h1 class="title">Saturday, March 9<sup>th</sup></h1>

    <div class="columns">
      <div class="column is-half content">
        <h2 class="title is-4">Parks</h2>

        <ul>
          <li>
            Barker Field
            <ul>
              <li>Morning</li>
              <li>Afternoon</li>
              <li>Evening</li>
            </ul>
          </li>

          <li>
            Rockwood Park
            <ul>
              <li>Morning</li>
              <li>Afternoon</li>
              <li>Evening</li>
            </ul>
          </li>

          <li>
            Church Hill Dog Park
            <ul>
              <li>Morning</li>
              <li>Afternoon</li>
              <li>Evening</li>
            </ul>
          </li>

          <li>
            Northside Dog Park
            <ul>
              <li>Morning</li>
              <li>Afternoon</li>
              <li>Evening</li>
            </ul>
          </li>

          <li>
            Phideaux Dog Park
            <ul>
              <li>Morning</li>
              <li>Afternoon</li>
              <li>Evening</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="column is-half">
        <h2 class="title is-4">Map</h2>

        <div id="map" class="is-fullwidth"></div>
      </div>
    </div>
  </div>
</section>

<script src="/js/day.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtEDdN0-B2gjvrFrQ1qIAaMklPbm7YUTM&libraries=places&callback=initMap"></script>