<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="/styles/login.css" media="screen" title="no title" charset="utf-8">
   {{!-- modal --}}
    <div class="modal" id="wentWrongModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="modal-card">
          <header class="modal-card-head">
          {{!-- empty header --}}
          </header>
          <section class="modal-card-body">
            <div class="dog-modal-content has-text-centered">
              <h3 class="title is-3">Something Went Wrong!<br>Please Try Again!</h3>
              </div>
            </div>
          </section>
            <footer class="modal-card-foot">
              {{!-- empty footer because it looks nice --}}
            </footer>
        </div>
      </div>
    </div>
    {{!-- end modal --}}

<div class="section">
  <!-- main container -->
  <div class="container">
    <!-- title/subtitle box -->
    <div class="content has-text-centered wow fadeInUp" data-wow-duration="0.75s" data-wow-delay=".5s">
      <h1 class="title is-1">Welcome to Dogs' Day Out</h1>
      <h2 class="subtitle is-3">Your Dog's Play Date Scheduler!</h2>
    </div>
    <!-- login form box -->
      {{!-- <div class="level"> --}}
        <div class="loginBox has-text-centered wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
          <form id="login">
            <!-- user name field -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" id="email-input" type="text" placeholder="Your Email Here" />
              </div>
            </div>
            <!-- password field -->
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="Your Password Here" />
              </div>
            </div>
            <!-- form submit button -->
            <div>
              <button class="button is-rounded is-success" type="submit">Log In</button>
              <a href="#" class="button is-rounded" id="createAccount">Create Account</a>
            </div>
          </form>
        </div>
      {{!-- </div> --}}
  </div><!-- end container -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script>new WOW().init()</script>

<script src="/js/login.js"></script>
