<link rel="stylesheet" href="/styles/login.css" media="screen" title="no title" charset="utf-8">
   {{!-- modal --}}
    <div class="modal" id="wentWrongModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="modal-card">
          <header class="modal-card-head">
          {{!-- empty header --}}
          </header>
          <section class="modal-card-body">
            <div class="dog-modal-content">
              <h2>Something Went Wrong, Please Try Again!</h2>
              </div>
            </div>
          </section>
            <footer class="modal-card-foot">
              {{!-- empty footer because it looks nice --}}
            </footer>
        </div>
      </div>
    </div>
    {{!-- end modal --}}

<div class="section">
  <!-- main container -->
  <div class="container">
    <!-- title/subtitle box -->
    <div class="content has-text-centered">
      <h1 class="title">Welcome to Dogs' Day Out</h1>
      <h2 class="subtitle">A dog play date scheduler.</h2>
    </div>
    <!-- login form box -->
      {{!-- <div class="level"> --}}
        <div class="loginBox has-text-centered">
          <form id="login">
            <!-- user name field -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" id="email-input" type="text" placeholder="Your Email Here" />
              </div>
            </div>
            <!-- password field -->
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="Your Password Here" />
              </div>
            </div>
            <!-- form submit button -->
            <div>
              <button class="button is-rounded is-success" type="submit">Log In</button>
              <a href="#" class="button is-rounded" id="createAccount">Create Account</a>
            </div>
          </form>
        </div>
      {{!-- </div> --}}
  </div><!-- end container -->
</div>

<script src="/js/login.js"></script>
