<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Your Profile</h1>
    </div>
    <div class="columns">
      <!-- profile area -->
      <div class="column is-half">
        <nav class="level">
          <div class="level-left">
            <div class="content is-pulled-left">
              <h2 class="subtitle">Your Info</h2>
              <p>User's Username</p>
              <p>User's Location</p>
            </div>
          </div>
          <div class="level-right">
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
        </nav>
        <hr />
        <nav class="level">
          <div class="level-left">
            <div class="content">
              <h2 class="subtitle">Your Dog's Info</h2>
              <p>Dog's Name</p>
              <p>Dog's Weight</p>
              <p>Dog's Energy Level</p>
              <p>Dog's Patience Level</p>
              <p>Dog's Dominance Level</p>
            </div>
          </div>
          <div class="level-right">
            <figure class="image is-pulled-right is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
        </nav>
        <a href="/calendar">Calendar</a>
      </div>

      <!-- calendar area -->
      <div class="column is-half">
        <div class="container">
          <div class="calendar">
            <p>Calendar Area</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
></script>
<script src="/js/profile.js"></script>
