<form>
  <div class="field is-grouped">
      <p>
        <input id="searchinput" name="search" class="input" type="text" placeholder="Search users, dogs, locations...">
      </p>
      <p class="control">
        <a id="searchbutton" type="submit" class="button is-info"> 
        Find a meetup!
        </a>
      </p>
  </div>
</form>
<script src="/js/search.js"></script>

