<div class="section">
  <!-- main container -->
  <div class="container">
    <!-- title/subtitle box -->
    <div class="content">
      <h1 class="title">Dogs Day Out Seeds</h1>
    </div>
    <div class="container">
      <button class="button" type="button" id="parkSeeds">Park Seeds</button>
    </div>
  </div>
</div>

<script src="/js/seeds.js"></script>