<div class="section">
  <!-- main container  -->
  <div class="container">
    <!-- title box -->
    <div class="content">
      <h1 class="title">New User Profile Page</h1>
    </div>
    <!-- form area -->
    <div class="columns">
      <!-- owner form -->
      <div class="column is-half">
        <!-- username field -->
        <div class="field">
          <label class="label">User Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Your new username" />
          </div>
        </div>
        <!-- password field -->
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder="Your new password"
            />
          </div>
        </div>
        <!-- re-enter password field -->
        <div class="field">
          <label class="label">Re-Enter Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              placeholder="Re-enter your new password"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Location</label>
          <div class="control">
            <div class="select">
              <select>
                <option>Richmond, VA</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Profile Picture</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Your profile picture URL"
            />
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Your dog's name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Dog Weight (in pounds)</label>
          <input class="input" type="text" />
        </div>
        <div class="field">
          <label class="label">Dog Bio</label>
          <input
            class="input"
            type="text"
            placeholder="Tell us about your dog!"
          />
        </div>
        <div class="field">
          <label class="label">How energetic is your dog?</label>
          <div class="control">
            <select class="select">
              <option value="1">1 (Not at all)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6 (Very energetic)</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="label">How patient is your dog?</label>
          <div class="control">
            <select class="select">
              <option value="1">1 (Not at all)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6 (Very patient)</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="label"
            >How dominant does your dog tend to be with other dogs?</label
          >
          <div class="control">
            <select class="select">
              <option value="1">1 (Not at all)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6 (Very dominant)</option>
            </select>
          </div>
          <div class="field">
            <label class="label">Profile Picture</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Your profile picture URL"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="button">Submit</button>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
></script>
<script src="/js/setup.js"></script>
