<section class="section">
  <div class="container">
    <h1 class="title">Event</h1>

    <div class="columns">
      <div class="column is-two-thirds">
        <h2 class="title is-4">Chat</h2>

        <div class="chat is-clearfix">
          <div class="post is-pulled-left">
            <a class="display-name" href="/user/1">Jacob</a>
            <span class="post-contents">Yo</span>
          </div>

          <div class="post your-post is-pulled-right">
            <span class="post-contents">Howdy</span>
          </div>

          <div class="post is-pulled-left">
            <a class="display-name" href="/user/2">Alexa</a>
            <span class="post-contents">Hey y'all!</span>
          </div>

          <div class="post is-pulled-left">
            <a class="display-name" href="/user/3">Scott</a>
            <span class="post-contents">Whattup</span>
          </div>
        </div>

        <form id="create-post" novalidate>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Hello!" required>
            </div>

            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="column is-one-third">
        <h2 class="title is-4">Attendees</h2>

        <ul class="attendee-list">
          <li><a class="attendee" href="user/2">Alexa</a></li>
          <li><a class="attendee" href="user/4">Andrew</a></li>
          <li><a class="attendee" href="user/1">Jacob</a></li>
          <li><a class="attendee" href="user/3">Scott</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>