body, html {
  background-color: orange;
}


/* list of elements for cursor: pointer */
  .dropdown-item,
  .dropdown-item p,
  .attendee-list li  {
    cursor: pointer;
  }
/* ^^^^^ list of elements for cursor: pointer */

#nameInput::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}


.list-group-item {
  line-height: 2.5;
}

/* Calendar Page */
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 208, 119);
  }

/* ***************************** */
/* ******** day page ********** */

.day-title {
  color: #0f0f0f;
  font-family: "Carrois Gothic", sans-serif;
}

.park-name {
  font-size: 1.5em;
  font-weight: bold;
}

.show-on-map {
  background: transparent;
  border: none;
}

.time-link {
  background-color: #efefef;
  border-radius: 2em;
  color: #4a4a4a;
  display: inline-block;
  padding: .5em;
  text-align: center;
  width: 15em;
}

.time-link:focus,
.time-link:hover {
  background-color: #cfcfcf;
}

.activeEvent {
  background-color: #ffff00;
}

.activeEvent:focus,
.activeEvent:hover {
  background-color: #d3d032;
}

.time-list {
  list-style-type: none !important;
  margin-left: 0 !important;
  margin-bottom: 2em;
}

.time-name {
  font-weight: bold;
}

.userEvent {
  color: #ff0000;
}

#map {
  height: 400px;
}

#park-list {
  list-style-type: none;
}

/* ***************************** */
/* ********event page ********** */

  .attendee {
    color: #0000df;
  }

  .dropdown-item p:hover,
  .attendee:focus,
  .attendee:hover {
    color: #7fafdf;
  }

  .chat {
    border: .1em solid #000000;
    padding: 1em;
  }

  .display-name {
    color: #ffffff;
  }

  .display-name:focus,
  .display-name:hover {
    color: #00009f;
  }

  .post {
    background-color: #9999ff;
    clear: both;
    padding: .5em;
    margin-top: .5em;
  }

  .post:first-child {
    margin-top: 0;
  }

  .post-contents {
    color: #000000;
  }

  .your-post {
    background-color: #f3aeae;
  }


  #create-post {
    padding-top: 1em;
  }



/* ***************************** */
/* ********event page modal***** */ 
  .dog-modal-content{
    padding-bottom: 20px;
  }
  .dog-modal-content h2{
    font-size: 130%;
  }
  h2 + p{
    padding-top: 5px;
    /* color: red; */
  }
  .float-left {
    float: left;
  }

  .clearfix:after{
    content: "";
    clear: both;
    display: table;
  }
/* ********event page modal***** */
/* *****************************

/* Profile Page */

.level-title {
  margin-bottom: 0 !important;
}

.profile-dog-card {
  margin-top: 2em;
}

#upload-feedback {
  display: none;
}

#upload-progress {
  display: none;
}

/* *************************
*************************
chat box css */
  #chatBox{
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* background-color: #e9ecef; */
    background-color: hsl(206, 36%, 20%);
    padding: 5px;
    border: 5px solid #212528;
    border-radius: 3px;
    
  }
  #chatForm {
    border-bottom: solid black 1px
  }
  #chatArea{
    position: relative;
    background-color: hsl(206, 36%, 20%);
    overflow:auto;
    height: 220px;
    border-radius: 3px;
  }
  #chatArea p {
    margin: 0;
    cursor: pointer;
  }
  .myChat {
    margin-left: auto;
    text-align: right;
    margin-top: 1px;
    margin-right: 3px;
    max-width: 80%;
  }
  .myChat p {
    background-color: #8afe37;
    padding: 0px 5px 0px 5px;
    border: 1px transparent solid;
    border-radius: 6px;
    display: inline-block;
  }
  .chatName {
  color: #dff3ff;
  }

  .otherChat {
    margin-left: 3px;
    margin-right: auto;
    margin-top: 1px;
    max-width: 80%;

  }
  .otherChat p {
    background-color: #52b4ff;
    padding:  0px 5px 0px 5px;
    border: 1px transparent solid;
    border-radius: 6px;
    display: inline-block;

  }

/* *************************
*************************
chat box css */

